<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Survey Done</title>
</head>

<body>
    <p><b>Thanks for completing the survey!!!</b></p>
    <p>
        You are being redirected back to the <a href="/landing">homepage</a>...
    </p>
</body>
</html>